* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Pokemon Pixel Font Regular';
    src: url('https://www.fontsaddict.com/fontface/pokemon-pixel-font-regular.ttf');
  }

body {
    background-image: url("./images/BKGRND.png");
    background-size: 300vw 100vh;
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
}

div#container {
    text-align: center;
    margin-top: 5%;
}

div.line {
    width: 100%;
    margin-top: 5%;
    position: relative;
    text-align: center;
}

div.reset{
    position: absolute;
    top: 5%;
}

img {
    display: block;
    width: 100%;
    margin: 0 auto;
    top: -150%;
}

img#box3 {
    width: 70%;
}

a {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-decoration: none;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 35px;
}

@media screen and (min-width: 500px) {

    div#container {
        text-align: center;
        margin-top: 5%;
    }
   
    img {
        width: 70%;
    }

    img#box3 {
        width: 45%;
    }
   
    a {
        font-size: 40px;
    }    
}
