@font-face {
    font-family: 'Pokemon Pixel Font Regular';
    src: url('https://www.fontsaddict.com/fontface/pokemon-pixel-font-regular.ttf');
  }

body {
    background-image: url("./images/BKGRND.png");
    background-size:inherit;
    background-position:top;
    background-repeat:no-repeat;
}

img#box1{
    margin: auto;
    pointer-events: none;
    width: 450px;
    position: relative;
    z-index: -2;
    margin-top: -190px;
}

img#box2{
    width: 450px;
    position: relative;
    z-index: -2;
    margin-top: -200px;
}

img#box3{
    width: 350px;
    position: relative;
    z-index: -2;
    margin-top: -130px;
}

div {
    text-align: center;
    width: 500px;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

a#supp {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    display: block;
    margin-top: 120px;
    cursor: pointer;
}

a.used2 {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    display: block;
    margin-top: 100px;
    cursor: pointer;
}


a#reset {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-top: 90px;
    display: block;
    cursor: pointer;
}

@media screen and (max-width: 344px) {
    body{
        width: 330px;
        height: 500px;
        background-size:610%;
    }
    
    img#box1{
        pointer-events: none;
        margin-top: -140px;
        width:300px;
        margin-left: -180px;
    }

    img#box2{
        width: 300px;
        margin-top: -140px;
        margin-left: -180px;
    }

    img#box3{
        width: 250px;
        margin-top: -100px;
        margin-left: -180px;
    }

    a#supp {
        font-family: "Press Start 2P", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 35px;
        width: 320px;
        display: block;
        margin-top: 100px;
        cursor: pointer;
    }

    a.used2 {
        font-family: "Press Start 2P", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 35px;
        width: 320px;
        display: block;
        margin-top: 90px;
        cursor: pointer;
    }

    a#reset {
        font-family: "Press Start 2P", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
        width:320px;
        margin-top: 90px;
        display: block;
        cursor: pointer;
    }


}
