*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Pokemon Pixel Font Regular';
    src: url('https://www.fontsaddict.com/fontface/pokemon-pixel-font-regular.ttf');
  }

body {
    background-image: url("./images/BKGRND.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
}

div#container {
    text-align: center;
    margin-top: 5%;
}

div.line {
    width: 100%;
    margin-top: 5%;
    position: relative;
}

div.reset{
    position: absolute;
    top: 5%;
}

img {
    width: 80%;
}

#box3 {
    width: 60%;
}


p {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-decoration: none;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 2.5em;
    cursor: pointer;
}

.used {
     padding: 1rem;
}

@media screen and (max-width: 500px) {
    
    div#container {
        text-align: center;
        margin-top: 15%;
        margin-bottom: 2rem;
    }
   
    img {
        width: 95%;
    }

    img#box3 {
        width: 60%;
    }

    p {
        font-size: 3em;
    }

}


@media screen and (max-height: 835px) and (orientation: landscape) {

    body {
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        margin-top: 3%;
    }        

    #container {
        display: flex;
        flex-direction: row-reverse;
        top: 100%;
        }

    img, img#box3 {
        width: 90%;        
    }    

    p {
        font-size: 1.8rem;
    }

}